# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (se você não quiser adicionar configurações específicas do VS Code)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/Flutter/flutter_assets/
**/Flutter/flutter_export_environment.sh

# Platform-specific directories
/android/app/debug
/android/app/profile
/android/app/release
/ios/Flutter/ephemeral
/ios/Flutter/flutter_export_environment.sh
